@page "/Login"
@layout Layout.EmptyLayout
@inject NavigationManager Navigator
@rendermode InteractiveServer

    <link href="/Login.css" rel="stylesheet" />

    <div class="LoginModal">
        <div class="ModalHeader">
            <img src="Images/Logo.png" height="165" />
        </div>
        <form method="post" id="LoginForm" onsubmit="LoginUser">
            <div id="UserNameInput" class="FormInput">
                <input type="text" name="Username" required placeholder="Email..." />
            </div>
            <div id="PasswordInput" class="FormInput">
                <input type="password" name="Password" required placeholder="Wachtwoord..." />
            </div>
            <div class="FormInput">
                <div @onclick="LoginHandler" id="LoginButton" class="LoginButton">Inloggen</div>
                <label style="display:none;" id="LoginLabel"></label>
            </div>
            <hr />
        </form>
        <div class="FormButtonsBottom">
            <div class="RegisterButton">
                Registreren
            </div>
        </div>
    </div>
@code {
    void LoginHandler()
    {
        Navigator.NavigateTo("/Overview");
    }
}