@layout Layout.EmptyLayout
@page "/ProfileSelection"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using NextStream.Services
@inject NavigationManager Navigator
@inject UserService userService
@inject AuthenticationStateProvider AuthProvider
@inject UserDataService userDataService
@rendermode InteractiveServer
@attribute [Authorize]

<PageTitle>Profiles</PageTitle>

<link href="/ProfileSelection.css" rel="stylesheet" />
        <div class="ProfileSelection"> 
            <div class="ProfileSelectionTitle">Kies een profiel</div>
            <div class="Profiles">
        @foreach (var profile in userService.GetProfiles(userDataService.UserName))
        {
            <div style="background-color:@profile.Color;" @onclick="()=>{SelectProfile(profile.ID);}" class="Profile">
                <div  class="ProfileIcon">

                </div>
                <div class="ProfileName">
                    @profile.Name
                </div>
            </div> 
        }

            </div>
        </div>


@code {

    void SelectProfile(int profileId)
    {
        userService.SetCurrentProfile(profileId);
        Navigator.NavigateTo("/Overview");
    }
}