@inherits LayoutComponentBase
@inject NavigationManager Navigator

<div class="page">
    <div class="sidebar navsidebar">
        <NavMenu />
    </div>

    <main>
        
    <div class="content-bar">
        @if (shouldShowElement)
        {
            <div class="search-bar">
                <div class="search-icon material-symbols-outlined">
                    search
                </div>
                <input class="search-input" type="text" maxlength="30" placeholder="Zoek op jaar of titel" />
            </div>
        }
    </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool shouldShowElement =>
            Navigator.Uri.Contains("/Overview") ||
             Navigator.Uri.EndsWith("/");
}